h1 {
    color: blue;
    background-color: bisque;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding: 20px;
    border: 20px solid red;
    margin: 40px;
    width: 100px;
}

body {
    color:black;
    background-color: bisque;
}

img {
    height: auto;
    width: 500px;
}

ul {
    color:black;
    background-color: bisque;
    padding: 20px;
    border: 20px solid burlywood;
}

ol {
    color:black;
    background-color: bisque;
    padding: 20px;
    border: 20px solid burlywood;
}

.container {
    background: dodgerblue;
    border: 4px solid midnightblue;
    width: 400px;
    height: 300px;
}

.box {
    background: palevioletred;
    font-weight: bold;
    text-align: center;
    border: 6px solid maroon;
    width: 80px;
    height: 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}